/*Home Page CSS*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #627C85;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    text-align: center
}

nav a:hover {
    background-color: #b17618;
    color: #FDD6C3;
}

div .account-button{
    padding: 20px;
    grid-column: 4/5;
    justify-content: space-around;
}

body {
    background-color: #000000;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main {
    background-color: #000000;
    text-align: center
}

#hero-img{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

#main-msg {
    color: #b17618;
}

footer {
    background-color: #627C85;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #E7C24F;
}

footer .social img {
    padding-top: 15px;
}

/*Character Builder CSS*/

#CBhome-grid {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

#builder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Dropdown Button forr W12 */
.dropbtn {
    background-color: #627C85;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #627C85;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #E7C24F;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #E7C24F;}

/*End of W12 dropdown content*/

/*Matchmaking CSS*/
.mm-home-grid {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 60% 10% 25%;
    justify-content: center;
}

#radahn {
    grid-column: 1/4;
    grid-row: 1/2;
}

h4, p{
    color: #b17618;
    text-align: center;
    
}

h4 {
    grid-row: 2/3;
    padding: 10px;
}

h4:nth-last-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/3;
}

h4:nth-last-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/3;
}

queue-button {
    grid-column: 2/3;
    grid-row: 2/3;
}

.queue {
    background-color: #627C85;
    color: #000000;
    padding: 16px;
    font-size: 16px;
}

.queue:hover{
    background-color: #b17618;
}

.queue:active {
    background-color: #627C85;
}

.mm-home-grid p {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 60px;
}

#chat-box {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-right: auto;
    padding: 20px;
}