#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main {
    text-align: center;
}

main section image {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #E7C24F;
}

body {
    background-color: #FDD6C3;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

header {
    background-color: #E7C24F;
  }

nav a {
    padding: 35px;
}

nav a:hover {
    background-color: #A43312;
    color: #FDD6C3;
}

.home-title {
    color: #396E94;
    font-size: 2em;
    font-family: Helvetica;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: #FDD6C3;
}

.book, .join {
    background-color: #FDD6C3;
    color: #E7C24F;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #E7C24F;
    color: #FDD6C3;
}

.msg h2, .msg p {
    color: #A43312;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.msg{
    background-color: #E7C24F;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #396E94;
    padding: 25px 50px;
    margin-top: 200px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

#logo_link {
    padding-top: 5px;
}

nav a,
.book, 
.join,
footer a {
    text-decoration: none;
    color: #396E94;
}

footer h3,
a:hover {
    text-decoration: underline;
    color: #E7C24F;
}

footer .social img {
    padding-top: 15px;
}